@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://api.fontshare.com/v2/css?family=satoshi@700,500,301,701,300,501,401,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-100;
}

* {
  @apply font-Poppins;
}

@layer components {
  .homeSection {
    @apply mx-auto w-full max-w-7xl px-4 py-6;
  }
}

.payment-providers::-webkit-scrollbar {
  width: 0.5rem;
}

.payment-providers::-webkit-scrollbar-track {
  background: transparent;
}

.payment-providers::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.payment-providers::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.payment-providers::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.6);
}
